<section>
  <h1>Hi, I'm Jason</h1>
  <p>
  	I work at <a href="http://stackexchange.com">Stack Exchange</a> on <a href="http://careers.stackoverflow.com">Careers 2.0</a>
  </p>
  <p>
  	On Twitter I'm <a href="http://twitter.com/JasonPunyon">@JasonPunyon</a><br />
  	On Stack Overflow I'm <a href="http://stackoverflow.com/users/6212">Jason Punyon</a><br />
  	On Github I'm <a href="http://github.com/jasonpunyon">JasonPunyon</a><br />
  	You can see my CV <a href="http://careers.stackoverflow.com/jasonpunyon">here</a>
  </p>
  <p>
	<a href="http://stackoverflow.com/users/6212/jason-punyon"><img src="http://stackoverflow.com/users/flair/6212.png" width="208" height="58" alt="profile for Jason Punyon at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Jason Punyon at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
  </p>
</section>